@{
    ViewData["Title"] = "Add User";
    ViewBag.Title = "Add User";
}

<form method="post">
    
    <label>First Name:</label>
    <br />
    <input name="fname" />
    <br />

    <label>Last Name:</label>
    <br />
    <input name="lname" />
    <br />

    <input type="submit" value="Save User" />
    <input type="reset" value="Reset" />
</form>





